# Set default to track all files with LFS
* filter=lfs diff=lfs merge=lfs -text

# Exclude common text files from LFS tracking
*.txt -filter -diff -merge text
*.md -filter -diff -merge text
*.json -filter -diff -merge text
*.xml -filter -diff -merge text
*.html -filter -diff -merge text
*.css -filter -diff -merge text
*.js -filter -diff -merge text
*.ts -filter -diff -merge text
*.yml -filter -diff -merge text
*.yaml -filter -diff -merge text
*.sh -filter -diff -merge text
*.py -filter -diff -merge text
*.java -filter -diff -merge text
*.c -filter -diff -merge text
*.cpp -filter -diff -merge text
*.h -filter -diff -merge text
*.hpp -filter -diff -merge text
*.cs -filter -diff -merge text
*.go -filter -diff -merge text
*.rb -filter -diff -merge text
*.pl -filter -diff -merge text
*.php -filter -diff -merge text
*.ini -filter -diff -merge text
*.cfg -filter -diff -merge text
*.conf -filter -diff -merge text
*.properties -filter -diff -merge text
*.csv -filter -diff -merge text
*.tsv -filter -diff -merge text
